@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Burialmain
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <div class="bg-secondary p-1">
            <h3 style="color:white">ID: @Model.Id</h3>
        </div>
        <div class="bg-light">
            Text: @(Model.Text ?? "Information still being collected")<br>

            Square North-South: @(Model.Squarenorthsouth ?? "Information still being collected")<br>
            North-South: @(Model.Northsouth ?? "Information still being collected")<br>
            East-West: @(Model.Eastwest ?? "Information still being collected")<br>
            Depth: @(Model.Depth ?? "Information still being collected")<br>
            Length: @(Model.Length ?? "Information still being collected")<br>
            South to Head: @(Model.Southtohead ?? "Information still being collected")<br>
            South to Feet: @(Model.Southtofeet ?? "Information still being collected")<br>
            West to Head: @(Model.Westtohead ?? "Information still being collected")<br>
            Sex: @(Model.Sex ?? "Information still being collected")<br>
            Hair Color: @(Model.Haircolor ?? "Information still being collected")<br>
            Adult/Sub-Adult: @(Model.Adultsubadult == "A" ? "Adult" : Model.Adultsubadult == "C" ? "Sub-Adult" : "Information still being collected")<br>
            Head Direction: @(Model.Headdirection ?? "Information still being collected")<br>
            Field Book Page: @(Model.Fieldbookpage ?? "Information still being collected")<br>
            Samples Collected: @(Model.Samplescollected ?? "Information still being collected")<br>

            Wrapping: @(Model.Wrapping ?? "Information still being collected")<br>
            Preservation: @(Model.Preservation ?? "Information still being collected")<br>


            <a asp-controller="Home" asp-action="Summary" class="btn btn-outline-primary">Return to Summary </a>
            <a asp-controller="Home" asp-action="EditBurial" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit Burial </a>
            <a asp-controller="Home" asp-action="DeleteBurialConfirmation" asp-route-id="@Model.Id" class="btn btn-outline-primary">Delete Burial </a>
        </div>
    </div>
}
else
{
    <div>
        <div class="bg-secondary p-1">
            <h3 style="color:white">ID: @Model.Id</h3>
        </div>
        <div class="bg-light">
            Text: @(Model.Text ?? "Information still being collected")<br>

            Square North-South: @(Model.Squarenorthsouth ?? "Information still being collected")<br>
            North-South: @(Model.Northsouth ?? "Information still being collected")<br>
            East-West: @(Model.Eastwest ?? "Information still being collected")<br>
            Depth: @(Model.Depth ?? "Information still being collected")<br>
            Length: @(Model.Length ?? "Information still being collected")<br>
            South to Head: @(Model.Southtohead ?? "Information still being collected")<br>
            South to Feet: @(Model.Southtofeet ?? "Information still being collected")<br>
            West to Head: @(Model.Westtohead ?? "Information still being collected")<br>
            Sex: @(Model.Sex ?? "Information still being collected")<br>
            Hair Color: @(Model.Haircolor ?? "Information still being collected")<br>
            Adult/Sub-Adult: @(Model.Adultsubadult == "A" ? "Adult" : Model.Adultsubadult == "C" ? "Sub-Adult" : "Information still being collected")<br>
            Head Direction: @(Model.Headdirection ?? "Information still being collected")<br>
            Field Book Page: @(Model.Fieldbookpage ?? "Information still being collected")<br>
            Samples Collected: @(Model.Samplescollected ?? "Information still being collected")<br>

            Wrapping: @(Model.Wrapping ?? "Information still being collected")<br>
            Preservation: @(Model.Preservation ?? "Information still being collected")<br>

            <a asp-controller="Home" asp-action="Summary" class="btn btn-outline-primary">Return to Summary </a>
        </div>
    </div>
}
